#scatter {
    float:left;
    vertical-align: middle;
  }

#pcp {
    float:right;
    vertical-align: middle;
  }

#container {
    display: flex;
    align-items: center;
    height: 100%;
}

#legend {
    float:left;
}

#test {
  border: 3px solid black;
}

#buttons {
  padding: 15px;
  display: inline-block;
  background-color: bisque;
  border-radius: 5px;
}