#scatter {
    float:left;
    width: 35%;
  }

#pcp {
    width: 45%;
  }


#buttons {
  padding: 15px;
  display: inline-block;
}

#firstRow, #secondRow {
  display: flex;
  height: 45%;
  align-items: center;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.unselected {
  opacity: 0;
}

#firstRow {
  margin-top:1%;
}

#secondRow {
  margin-top:2%;
  margin-bottom: 1%;
}

#scatter {
  max-width: 25%;
}

#legend {
  display: flex;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-between;
  
}

#brushSelect {
  margin-left: 20px;
}

#buttons {
  width: 100%;
}

#buttons div {
  margin-top: 5px;
}

* {
  margin:auto;
}
#controls {
  background-color: lightgrey;
  border-radius: 5px;
  margin: auto;
  padding-top: 5x;
  display: flex;
  flex-direction: column;
}


.h6{
  font-size:0.9vw !important;
}


.control-heading {
  font-weight: bold;
}

.input-label, .custom-control-label {
  font-size:0.7vw !important;
  margin-left: 0px;
}

#dist2 svg g {
  position: absolute !important;
  right: 0px;
}

#visContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

html, body{min-height:100%;}



.custom-switch.custom-switch {
  padding-left: 0px;
}

.custom-switch.custom-switch .custom-control-label {
  display: flex;
}
.custom-switch.custom-switch .custom-control-label::before {
  left: 90%;
}
.custom-switch.custom-switch .custom-control-label::after {
  left: calc(90% + 2px);
}

.bundle-slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

#bundleSlider {
  margin-left: 50px;
}

#dist1, #dist2 {
  width: 50%;
}

#legend svg g rect:hover, .active {
  stroke: black;
}

.pcp-axis-label:hover {
  font-weight: bold;
}