#scatter {
    float:left;
    width: 35%;
  }

#pcp {
    width: 45%;
  }


#buttons {
  padding: 15px;
  display: inline-block;
}

#secondRow {
  display: flex;
  height: 50%;
  align-items: center;
}

#legend div {
  display: flex;
  padding: 15px;
  padding-bottom: 0px;
  align-items: flex-start;
  font-weight: bold;
  justify-content: space-between;
  
}

#buttons {
  width: 100%;
  margin-top: -50px
}

#buttons div {
  margin-top: 5px;
}

#controls {
  background-color: lightgrey;
  border-radius: 5px;
  width: 25%;
  min-width: 350px;
  padding-top: 10px;
  margin-right: 10%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.custom-switch.custom-switch {
  padding-left: 0px;
}

.custom-switch.custom-switch .custom-control-label {
  display: flex;
}
.custom-switch.custom-switch .custom-control-label::before {
  left: 90%;
}
.custom-switch.custom-switch .custom-control-label::after {
  left: calc(90% + 2px);
}

.bundle-slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
